{% extends "base.html" %}
{% block tabs %}
  {{ super() }}
  
  <style>.md-header{position:initial}.md-main__inner{margin:0}.md-content{display:none}@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}

  :root {
  --NUSBlue: #003D7C;
  --NUSOrange: #EF7C00;
  --platinum: #e5e5e5;
  --black: #2b2d42;
  --white: #fff;
  --thumb: #edf2f4;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 16px / 24px "Rubik", sans-serif;
  color: var(--black);
  background: var(--platinum);
  margin: 0 0;
} */

.container {
  max-width: 90%;
  padding: 0 0px;
  margin: 0px auto;
}

h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
  color: var(--NUSBlue);
}

hh {
  font-size: 4em;
  margin-bottom: 1em;
  color: var(--NUSBlue);
}

txt{
  font-size: 2em;
  margin-bottom: 2em;
  color: var(--NUSBlue);
}

txt_small{
  font-size: 1.5em;
  margin-bottom: 1.5em;
  color: var(--NUSBlue);
  text-align: justify;
}

.cards {
  display: flex;
  padding: 0px 0px;
  /* list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory; */
  border-style: none;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  margin-bottom: 20px;
}

/* .card:not(:last-child) {
  margin-right: 10px;
} */

.card:hover {
  color: var(--white);
  background: var(--NUSBlue);
}

.card .card-title {
  font-size: 28px;
}

.card .card-content {
  margin: 20px 0;
  max-width: 100%;
  font-size: 20px;
  /* text-align: justify; */
}

.card .card-link-wrapper {
  margin-top: auto;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--NUSBlue);
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
  font-size: 16px;
}

.card:hover .card-link {
  background: var(--NUSOrange);
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--NUSBlue);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}


  /* Style for the image within the card */
  .card img {
    width: 100%;
    height: auto; /* Adjust the height as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the entire card */
    transition: filter 0.3s ease; /* Add a smooth transition effect for filters */
  }

  /* Reverse color effect on selected images hover */
  .filter-image:hover img {
    filter: invert(80%); /* Invert the image colors on hover */
  }

@media (min-width: 800px) {
  .card {
    flex-basis: calc(45% - 10px);
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .card {
    flex-basis: calc(calc(90% / 3) - 20px);
    margin-right: 30px;
  }

}

/* @media (min-width: 1100px) {
  .card {
    flex-basis: calc(25% - 30px);
  }

  .card:not(:last-child) {
    margin-right: 40px;
  }
} */
iframe { width: 90%; 
  height: 800px; 
  border: 2px solid #ccc; 
  border-radius: 10px; 
  padding: none; 

  
  display: flex;
  justify-content: center;
  align-items: center;
}
  </style>

  <!-- <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="mdx-hero__image">
          <img src="assets/images/cy_manifold.png" alt="" width="800" height="510" draggable="false" class="center">
        </div>
        <div class="mdx-hero__content">
          <h2>{{ config.home_name}}</h2>
          <p>{{ config.site_description }}</p>
          <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}" class="md-button md-button--primary">
            Quick start
          </a>
          <a href="{{ 'insiders/' | url }}" title="Material for MkDocs Insiders" class="md-button">
            Get Insiders
          </a>
        </div>
      </div>
    </div>
  </section> -->


  <center>  
    <br>
    <div class="container">
      <img src="assets/images/nus-news.jpeg" alt="" width=60% height=auto draggable="false">
      <br>      <br>
      <hh>{{ config.home_name}}</hh>
      
      <br>
      <br>
      <txt>{{ config.site_description }}</txt>
      <br>
      <br>
      <txt_small>We are a vibrant and innovative group situated within the Department of Statistics and Data Science. 
      <br>
      Composed of accomplished research fellows and motivated graduate students, under the guidance of a dedicated faculty member.
      <br>
      Focus on the intersection of statistics and geometry in data science and explore its profound implications within the realm of authentic data science.
      <br>
      Forged strong affiliations with our colleagues around the world, including leading experts in geometry, statistics, and various scientific disciplines.</txt_small>
    </div>
  </center>
  
  <br>
  <div class="container">
    <h2>Selected Projects</h2>
      
    <ul class="cards">

      <li class="card filter-image">
        <div>
          <h3 class="card-title">Principal Flows</h3>
          <div class="card-content">
            <center>
              <img src="assets/images/pf.png" alt="Principal Flows" style="width: 100%;" draggable="false">
            </center>
            <p>Curves on the manifold serve as an analogous of principal components. </p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="pf/" class="card-link">Learn More</a>
        </div>
      </li>

      <li class="card filter-image">
        <div>
          <h3 class="card-title">Manifold Fitting</h3>
          <div class="card-content">
            <center>
              <img src="assets/images/mf.png" alt="Manifold Fitting" style="width: 100%;" draggable="false">
            </center>
            <p>Fit smooth low-dim manifolds from high-dim noisy data points.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="mf/" class="card-link">Learn More</a>
        </div>
      </li>

      <li class="card">
        <div>
          <h3 class="card-title">Principal Submanifolds</h3>
          <div class="card-content">
            <center>
              <img src="assets/images/submanifold.png" alt="Principal Submanifolds" style="width: 100%;" draggable="false">
            </center>
            <p>Multi-dimensional generalization of principal flows.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="sub" class="card-link">Learn More</a>
        </div>
      </li>


      <li class="card">
        <div>
          <h3 class="card-title">Fixed Boundary Flows</h3>
          <div class="card-content">
            <center>
              <img src="assets/images/fbf.png" alt="Fixed Boundary Flows" style="width: 100%;" draggable="false">
            </center>
            <p>Conditional extension of principal flows with fixed boundary points.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="fbf" class="card-link">Learn More</a>
        </div>
      </li>


      <li class="card filter-image">
        <div>
          <h3 class="card-title">Principal Boundary</h3>
          <div class="card-content">
            <center>
              <img src="assets/images/pb2_small.png" alt="Principal Boundary" style="width: 100%;" draggable="false">
            </center>
            <p>Principal decision boundary on Riemannian manifolds.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="pb" class="card-link">Learn More</a>
        </div>
      </li>

      <li class="card filter-image">
        <div>
          <h3 class="card-title">MFCGAN</h3>
          <div class="card-content">
            <center>
              <img src="assets/images/mfcgan.png" alt="MFCGAN" style="width: 100%;" draggable="false">
            </center>
            <p>Combination of manifold fitting with CycleGAN.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="mfcgan" class="card-link">Learn More</a>
        </div>
      </li>

      <li class="card filter-image">
        <div>
          <h3 class="card-title">scAMF</h3>
          <div class="card-content">
            <center>
              <img src="assets/images/scamf.png" alt="scamf" style="width: 100%;" draggable="false">
            </center>
            <p>Single-Cell Analysis via Manifold Fitting.</p>
          </div>
        </div>
        <div class="card-link-wrapper">
          <a href="scamf" class="card-link">Learn More</a>
        </div>
      </li>

    </ul>
<!-- 
    <h2>Privatissimum</h2>
    <txt><span id="last-modified-date">Updated on: </span>, click <a href="https://www.notion.so/sujiaji/cb02715c306e40ca8d8b2bac4dd200e2?v=c51e0b55b57d452ba63d20f384a2c113&pvs=4" style = "color: var(--NUSOrange)">here</a> to check the live version and the calendar view.<br><br></txt>
    
      <center>
        <iframe src="pri/pri.html"></iframe>
      </center>
  </div> -->



{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
        {% include "partials/footer.html" %} 
{% endblock %}

