:root {
  --md-primary-fg-color:        #003D7C;
  --md-primary-fg-color--light: #0152a2;
  --md-primary-fg-color--dark:  #022a52;
  --md-primary-bg-color:               #fff;
  --md-primary-bg-color--light:        #fff;

  --md-accent-fg-color:                #EF7C00;
  --md-accent-fg-color--transparent:  #EF7C00;
  --md-accent-bg-color:                #EF7C00;
  --md-accent-bg-color--light:         #EF7C00;
}
